<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Info</title>
</head>
<body>
<form method="post">
    <table border="0px">
        <tr>
            <td><h3 align="center">Expense Tracker</h3></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" placeholder="Username"></br></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" placeholder="Password"><br></td>
        </tr>
       <tr>
           <td><input type="submit" value="Login"></td>
           <td><input type="button" value="Sign Up"></td>
       </tr>
    </table>
</form>
</body>
</html>